extends ../layouts/public

block content
  .wrapper.soon
    .container
      
      //  ROOT
      section.root
        
        //  LOGO
        include ../includes/logo
        
        //  MESSAGE CASE
        //        .messageCase
        //          .h1.soon1 #{soon.msgSoon1}
        //          .h1.soon2 #{soon.msgSoon2}
        //          .h1.confirmation #{soon.msgConfirmation}
        //          .h1.welcome #{soon.msgWelcome}
        //          .h1.unsubscribe #{soon.msgUnsubscribe}
        
        //  TEXT CASE
        //        .textCase
        //          .soon #{soon.txtSoon}
        //          .confirmation #{soon.txtConfirmation}
        //          .welcome #{soon.txtWelcome}
        //          .unsubscribe #{soon.txtUnsubscribe}
        
        //  STATUS CASE
        //        .statusCase
        //          h1.h4.home #{root.whoWeAre}
        //          .h4.typing #{newsletter.placeholder}
        //          .h4.errorEmail #{newsletter.errorEmail}
        //          .h4.errorName #{newsletter.errorName}
        
        //  FORM CASE
        //        .formCase: form
        //          .material-icons mail_outline
        //          .placeholder #{newsletter.placeholder}
        //          input#form_email(type="email", name="form_email", placeholder=newsletter.email, dir="ltr")
        //          input#form_name(type="text", name="form_name", placeholder=newsletter.name)
        //          .clicks
        //            input#next(type="button", title=newsletter.next)
        //            input#send(type="submit", value="", title=newsletter.send, disabled)
        
        //  DETAILS CASE
        //        .detailsCase
        //          ul.social.blocks.inline
        //            each x in root.social
        //              li: a(href=x.url, title=x.title, target="_blank")
        //                if x.platform == 'facebook'
        //                  include ../includes/svg/facebook
        //                else if x.platform == 'instagram'
        //                  include ../includes/svg/instagram
        //                else if x.platform == 'twitter'
        //                  include ../includes/svg/twitter
        //          .mail
        //            |#{root.email}: 
        //            a.underline(href="mailto:"+root.emailHello, title=root.emailHello) #{root.emailHello}
      
      
      //  COPYRIGHTS
      //      section.copyrights: small
      //        |©#{root.year} 
      //        a.underline(href=root.url, title=root.url, target="_blank") #{root.author}
      //        |. #{root.copyrights}