extends ../layouts/mails

block title
  title #{mails.titUnsubscribe}

block content
  
  //  HEADLINE
  table(border="0", cellpadding="0", cellspacing="0", width="100%"): tr: td(align="center", valign="top")
    span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 24px; line-height: 35px; color: #464646;") #{mails.msgUnsubscribe}
  
  //  TEXT
  table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 480px; margin: 0 auto; margin-top: 21px;")
    tr: td(align="center", valign="top")
      span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 28px; text-align: left; color: #727272;")
        span(style="display: block;") #{mails.txtUnsubscribe1}
        span(style="display: block; margin-top: 7px;")
          |#{mails.txtUnsubscribe2}
          br
          a(href=root.urlSubscribe, title=root.urlSubscribe, target="_blank",
            style="color: #c657a0; text-decoration: underline;") nucubuc.com/subscribe
        span(style="display: block; margin-top: 7px;") #{mails.txtUnsubscribe3}