extends ../layouts/mails

block title
  title #{mails.titWelcome}

block content
  
  //  HEADLINE
  table(border="0", cellpadding="0", cellspacing="0", width="100%"): tr: td(align="center", valign="top")
    span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 24px; line-height: 35px; color: #464646;") #{mails.msgWelcome}
  
  //  TEXT
  table(border="0", cellpadding="0", cellspacing="0", width="100%", style="max-width: 480px; margin: 0 auto; margin-top: 21px;")
    tr: td(align="center", valign="top")
      span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 28px; text-align: left; color: #727272;")
        span(style="display: block;") #{mails.txtWelcome}
        span(style="display: block; margin-top: 14px; font-size: 13px; line-height: 21px; text-align: center;")
          each x in root.social
            a(href=x.url, title=x.title, target="_blank", style="color: #888; text-decoration: underline;") #{x.platform}
            |&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;
          a(href="#", title=mails.unsubscribe, target="_blank", style="color: #888; text-decoration: underline;") #{mails.unsubscribe}